#container {
    background-color: red;
    margin: 0 auto;
    width: 95%;
    height: 200px;
    min-width: 650px;
}

.pim {
    float: left;
    width: 70%;
    height: 260px;
    min-width: 400px;
}

.sim {
    position: relative;
    float: right;
    z-index: 1;
    max-width: 39%;
    height: 260px;
    bottom: 260px;
    min-width: 250px;
}
