* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgba(128, 128, 128, 0.212);
}

#menu {
    background-color: rgb(255, 196, 0);
    height: 150px;
    text-align: center;
}

#logo {
    font-size: 40px;
    font-weight: 900;
    padding: 20px;
}

.links {
    padding: 10px;
    position: relative;
    top: 20px;
    text-decoration: none;
    color: #FFF;
}

.links:hover {
    background-color: #FFF;
    color: rgb(255, 196, 0);
}


.subt {
    margin-bottom: -5px;
    color: rgb(255, 196, 0);
}

.legenda {
    font-size: 12.1px;
    font-weight: bolder;
}



.conteudo {
    background-color: #FFF;
    float: left;
    width: 683px;
    margin-top: 18px;
    margin-left: 200px;
    padding: 20px;
}

#conteudo2 {
    background-color: #FFF;
    float: left;
    margin-top: 18px;
    margin-left: 25px;
    width: 300px;
    padding: 8px;
    font-size: 15px;
}

#conteudo3 {
    background-color: #FFF;
    float: left;
    padding: 8px;
    width: 300px;
    margin-top: 20px;
    margin-left: 25px;
}

.h {
    background: rgba(165, 163, 163, 0.596);
    font-size: 22px;
    padding-left: 2px;
    margin-bottom: 5px;
}

#direitos {
    background-color: rgba(165, 163, 163, 0.596);
    font-weight: 900;
    clear: both;
    padding: 13px;
    text-align: center;
    width: 1045px;
    margin-left: 200px;
    margin-bottom: 20px;
    position: relative;
    top: 15px;
}

.leia {
    color: rgb(255, 196, 0);
    text-decoration: none;
}

.mais {
    margin-bottom: 5px;
}

.categorias {
    color: rgb(255, 196, 0);
    text-decoration: none;
    font-weight: 800;
}

ul {
    list-style-type: none;
}